.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 5rem;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
}

h1 {
  font-size: 2.5rem;
  border-bottom: 3px solid #ccc;
  padding: 5rem;
  margin-bottom: 5rem;
  background-color: #ccc;
}

h3 {
  font-size: 1.7rem;
}

.text {
  font-size: .9rem;
  font-weight: 200;
}

.percentage {
  font-size: 1em;
  color: green;
}