
body.dark {
  background-color: #282c34;
  color: white;
}

li {
  list-style-type: none;
  margin: 0.5rem 0;
  width: 25rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

button {
  border: none;
  border-radius: 50%;
  background-color: #282c34;
  color: white;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  padding-top: .5rem;
}

.image {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}